<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>活动管理系统</title>
  {{ style('index') }}
</head>
<body>
  <section>
    <div id="root"></div>
    {{ script('index') }}
  </section>
</body>
</html>
